.App {
  font-family:sans-serif;
  text-align: center;
}
.app_form{
  
  padding: 20px;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  background-color: rgb(226, 222, 222);
  width: 90%;
  margin:20px;
  
 
}
.app_formControl{
  display: flex !important;
  flex-direction: row !important;
}
.app_input{
  flex: 1;
}

.app_iconButton{
  flex: 0;
}
.app_message{

 bottom: 140px;
}
.dimpy{
 
  z-index: 1000;
}